.wrap {
    margin: 20% auto;
    max-width: 700px;
    min-width: 400px;
}

.title {
    margin-left: 5%;
}

.notError {
    display: none;
}

.isError {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.isError div {
    width: 90%
}