.row {
    border-bottom: solid gray 1px;
    height: 50px;
}

.row:hover {
    cursor: pointer;
    background: #dbdbdb;
}

.cell {
    height: inherit;
}

.rowLink {
    color: #000;
    height: inherit;
    display: flex;
    align-items: center;
}

.rowLink:hover {
    color: #000;
}
